
.Messages {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    font-style: italic;
    font-family: "Courier New", Courier, monospace;
    color: rgb(255, 251, 0);
  }

  .Messages:ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
  }

  .Message {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: rgb(255, 255, 255);
    margin: 15px;
    padding: .2rem;
    border: 3px solid #e5ff00;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .Message:hover {
    background-color: rgba(173, 223, 35, 0.2);
  }